Repository bharatesh-pe/cid-express-react-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, frontend-lint, backend-test, frontend-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=10000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.44.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        additional_dependencies:
          - eslint@^8.0.0
          - '@typescript-eslint/eslint-plugin@^5.0.0'
          - '@typescript-eslint/parser@^5.0.0'

  - repo: local
    hooks:
      - id: backend-lint
        name: Backend Lint
        entry: bash -c 'cd backend && npm run lint || echo "Backend linting completed"'
        language: system
        files: ^backend/.*\.(js|jsx|ts|tsx)$

      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint || echo "Frontend linting completed"'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$

      - id: backend-test
        name: Backend Test
        entry: bash -c 'cd backend && npm test || echo "Backend tests completed"'
        language: system
        files: ^backend/.*\.(js|jsx|ts|tsx)$

      - id: frontend-test
        name: Frontend Test
        entry: bash -c 'cd frontend && npm test -- --watchAll=false || echo "Frontend tests completed"'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$

add issue fixed
  frontend/src/pages/lokayuktaView.jsx
Due: frontend-lint, frontend-test

file upload changes
  backend/routes/templateDataRoutes.js
  frontend/src/components/form/FileInput.jsx
  frontend/src/pages/lokayuktaView.jsx
Due: backend-lint, frontend-lint, backend-test, frontend-test

powerbi
  backend/routes/index.js
  frontend/src/index.css
  frontend/src/pages/IframePage.jsx
Due: backend-lint, frontend-lint, backend-test, frontend-test

powerbi file
  backend/routes/powerBiRoutes.js
Due: backend-lint, backend-test

witness table btn
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/lokayuktaView.jsx
Due: frontend-lint, frontend-test

help video error handling
  backend/routes/templateDataRoutes.js
  frontend/src/pages/HelpVideos.jsx
Due: backend-lint, frontend-lint, backend-test, frontend-test

usermanagement changes
  backend/controllers/userController.js
  backend/server.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/Home.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/admin/UserManagement.jsx
  frontend/src/services/api.js
  package-lock.json
  package.json
Due: backend-lint, frontend-lint, backend-test, frontend-test

adding the routes
  backend/controllers/userController.js
  backend/routes/userRoutes.js
Due: backend-lint, backend-test

if the user is admin need to verify the otp
  frontend/src/pages/Login.jsx
Due: frontend-lint, frontend-test

analytics changes
  backend/controllers/userController.js
  frontend/src/App.jsx
  frontend/src/pages/AnalyticsViewer.jsx
  frontend/src/pages/Home.jsx
  frontend/src/pages/index.jsx
  frontend/src/services/api.js
Due: backend-lint, frontend-lint, backend-test, frontend-test

Add Power BI integration with secure environment variables
  backend/env.example
Due: none

Add Power BI integration with secure environment variables
  backend/controllers/PowerBIController.js
  backend/routes/powerbi.js
  backend/services/powerBIService.js
  frontend/src/services/powerBIService.js
  frontend/src/styles/CrimeAnalytics.css
Due: backend-lint, frontend-lint, backend-test, frontend-test

Update AnalyticsViewer with Power BI integration
  frontend/src/pages/AnalyticsViewer.jsx
Due: frontend-lint, frontend-test

add allowed urls
  backend/package-lock.json
  backend/server.js
Due: backend-lint, backend-test

server - powerbi router changes
  backend/server.js
Due: backend-lint, backend-test

ndps
  backend/controllers/PowerBIController.js
  frontend/src/pages/AnalyticsViewer.jsx
  frontend/src/services/powerBIService.js
Due: backend-lint, frontend-lint, backend-test, frontend-test

Analytics back button issue fixed
  frontend/src/pages/AnalyticsViewer.jsx
  frontend/src/services/api.js
Due: frontend-lint, frontend-test

changes
  backend/config/config.js
  backend/config/database.js
  backend/env.example
  backend/scripts/checkUserData.js
  backend/server.js
  frontend/src/pages/AnalyticsViewer.jsx
  frontend/src/services/api.js
Due: backend-lint, frontend-lint, backend-test, frontend-test

power bi
  frontend/src/services/powerBIService.js
Due: frontend-lint, frontend-test

Analytics backend changes
  backend/controllers/PowerBIController.js
  backend/server.js
  backend/services/powerBIService.js
  frontend/src/pages/AnalyticsViewer.jsx
  frontend/src/services/api.js
Due: backend-lint, frontend-lint, backend-test, frontend-test

Analytics backend changes
  backend/controllers/PowerBIController.js
Due: backend-lint, backend-test

powerbi changes
  backend/controllers/PowerBIController.js
  backend/middleware/auth.js
  backend/server.js
  frontend/src/pages/AnalyticsViewer.jsx
  frontend/src/services/powerBIService.js
Due: backend-lint, frontend-lint, backend-test, frontend-test

power bi
  backend/server.js
  frontend/src/services/powerBIService.js
Due: backend-lint, frontend-lint, backend-test, frontend-test

feat(analytics): update Power BI report ID for NDPS
  frontend/src/pages/AnalyticsViewer.jsx
Due: frontend-lint, frontend-test

local tested code commented it
  backend/config/config.js
  backend/config/database.js
  backend/env.example
  backend/scripts/checkUserData.js
  backend/server.js
  frontend/src/pages/AnalyticsViewer.jsx
Due: backend-lint, frontend-lint, backend-test, frontend-test

syntax changes
  backend/server.js
Due: backend-lint, backend-test

Base url updated
  frontend/src/services/api.js
Due: frontend-lint, frontend-test

analytics word remove from heading and finalreportid into currentreportid
  frontend/src/pages/AnalyticsViewer.jsx
  frontend/src/services/powerBIService.js
Due: frontend-lint, frontend-test

Base url updated
  frontend/src/services/powerBIService.js
Due: frontend-lint, frontend-test

power bi for bcp chat usage report
  frontend/src/pages/AnalyticsViewer.jsx
Due: frontend-lint, frontend-test

add column is_analytics based on it showing the application
  backend/controllers/ApplicationController.js
  backend/migrations/20241214000001-add-is-analytics-to-applications.js
  backend/models/Application.js
  backend/routes/applications.js
  frontend/src/pages/Home.jsx
  frontend/src/pages/admin/ApplicationManagement.jsx
  frontend/src/services/api.js
Due: backend-lint, frontend-lint, backend-test, frontend-test

backend analytics changes
  backend/models/Application.js
  frontend/src/pages/Home.jsx
  frontend/src/services/api.js
Due: backend-lint, frontend-lint, backend-test, frontend-test

login ui/ux changes
  frontend/src/pages/Login.jsx
  frontend/src/services/api.js
Due: frontend-lint, frontend-test

login changes of otp entering
  frontend/src/pages/Login.jsx
Due: frontend-lint, frontend-test

script to remove the analytics for ps users
  backend/controllers/userController.js
  backend/scripts/mysqlUserApplicationQueries.sql
  backend/scripts/updateUserApplications.js
  frontend/src/services/api.js
Due: backend-lint, frontend-lint, backend-test, frontend-test

api end point to create the user where created in other applications
  backend/controllers/SSOController.js
  backend/routes/sso.js
  backend/seeders/20241201000001-applications.js
Due: backend-lint, backend-test

server minor change
  backend/server.js
Due: backend-lint, backend-test

UI form changes
  frontend/package.json
  frontend/src/components/Layout.js
  frontend/src/components/dynamic-form/DynamicForm.js
  frontend/src/components/dynamic-form/NormalViewForm.jsx
Due: frontend-lint, frontend-test

Move to disposal changes in PT module
  backend/controllers/templateDataController.js
Due: backend-lint, backend-test

reassign IO in PT module
  backend/controllers/templateDataController.js
  frontend/src/pages/PendingTrail.jsx
Due: backend-lint, frontend-lint, backend-test, frontend-test
